body {
    font-family: 'Encode Sans', sans-serif;
}

header {
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: solid 1px #f5f6f7;
}

header img {
    width: 171px;
}

nav {
    height: 44px;

    border-bottom: solid 1px #f5f6f7;
}

nav div {
    width: 80%; /* em px tinha ficado muito diferente do layout base */
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    background-color: white;
}

nav div a {
    font-size: 19px;

    font-weight: bold;
}



main {
    width: 80%;
    height: 650px;

    display: flex;

    margin: 30px auto;
}

.g1 {
    width: 58%;
    height: 100%;

    padding-right: 30px;

    border-right: solid 1px black;
}

.g1 .main-news {
    height: 40%;

    border-bottom: solid 1px black;
}

.g1 .main-news h1 {
    font-size: 48px;

    margin-bottom: 30px;

    font-weight: bold;

    color: #C4160C;
}

.g1 .main-news h2 {
    font-size: 18px;

    margin-bottom: 7px;


    color: #303134;
}

.g1 .secondary-news {
    height: 40%;

    border-bottom: solid 1px black;
}

.g1 .tertiary-news {
    height: 20%;

    

    background-color: limegreen;
}

.ge {
    width: 21%;
    height: 100%;

    background-color: green;
}

.gshow {
    width: 21%;
    height: 100%;

    background-color: orange;
}

a:hover, a article:hover {
    opacity: 0.7;

}

/*::::::::::::COLORS::::::::::::::::::: */

.red {
    color: #C3170C;
}

.blue {
    color: #1E4B9B;
}

.cyan {
    color: #006766;
}

.green {
    color: #07AA47;
}

.orange {
    color: #E3662B;
}

.light-red {
    color: #FB0735;
}

.pink {
    color: #FF75BB;
}

.yellow {
    color: #EC7D00;
}

.black {
    color: #323333
}

.magenta {
    color: #A81D83;
}