* {
    box-sizing: border-box;

    color: #2F3134;
}

body {
    font-family: 'Encode Sans', sans-serif;
}

/*::::::::::::::::TOP::::::::::::::::::: */

header {
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 171px;
}

nav {
    height: 44px;
}

nav div {
    width: 1250px; /* em px tinha ficado muito diferente do layout base */
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    background-color: white;
}

nav div a {
    font-size: 19px;

    font-weight: bold;
}



main {
    width: 1250px;
    height: 850px;

    display: flex;

    margin: 30px auto;
}

/*::::::::::::::::g1::::::::::::::::::: */

.g1 {
    width: 58%;
    height: 100%;

    padding-right: 30px;
}

.g1 .main-news {
    height: 32%;
}

.g1 .main-news h1 {
    font-size: 48px;

    margin-bottom: 30px;

    font-weight: bold;

    color: #C4160C;
}

.g1 .main-news h2 {
    font-size: 18px;

    margin-bottom: 15px;

    color: #303134;
}

.g1 .secondary-news {
    height: 38%;
    
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.g1 .secondary-news article {
    width: 30%;
}

.g1 .minor-news {
    height: 30%;

    border: none;
}

.g1 .minor-news article {
    width: 32%;
}

/*::::::::::::::::ge::::::::::::::::::: */

.ge {
    width: 22%;
    height: 100%;

    padding: 0 20px;
}

.ge article {
    height: 30%;
}


/*::::::::::::::::gshow::::::::::::::::::: */

.gshow {
    width: 20%;


    padding-left: 20px;
}

/*::::::::::::::::SECONDARY NEWS::::::::::::::::::: */

.secondary-news article {
    margin-bottom: 30px;
}

.secondary-news img {
    width: 100%;

    margin-bottom: 10px;

    border-radius: 12px;
}

.secondary-news span {
    font-size: 14px;

    font-weight: 500;
}

.secondary-news h1 {
    font-size: 20px;

    margin: 6px 0;

    font-weight: bold;
}

.secondary-news h2 {
    font-size: 14px;

    margin-bottom: 10px;
}

/*::::::::::::::::DIVIDERS::::::::::::::::::: */

.bottom-divider {
    border-bottom: solid 1px #f5f6f7;
}

.right-divider {
    border-right: solid 1px #f5f6f7;
}

/*::::::::::::::::HOVERS::::::::::::::::::: */

a:hover, a div:hover {
    opacity: 0.7;
}

/*::::::::::::::::COLORS::::::::::::::::::: */

.red {
    color: #C3170C;
}

.blue {
    color: #1E4B9B;
}

.cyan {
    color: #006766;
}

.green {
    color: #07AA47;
}

.orange {
    color: #E3662B;
}

.light-red {
    color: #FB0735;
}

.pink {
    color: #FF75BB;
}

.yellow {
    color: #EC7D00;
}

.black {
    color: #323333
}

.magenta {
    color: #A81D83;
}